footer.text-center.footer
    .container
        // Section: Copyright Information
        small=coypyright
            br
            | GitHub:
            a.link-info(href='https://github.com/MikkoCode/rautavirta-net')=sourceCode

script(src='/js/script.js' defer)
