doctype html
html()
    head
        // Meta tags for character set and responsive design
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')

        // Title of the webpage
        title Mikko Rautavirta - Portfolio

        // Linking stylesheets and favicon
        link(rel='stylesheet' href='/css/layout.css')
        link(rel='stylesheet' href='/css/styles.css')
        link(rel='stylesheet' href='/css/nav.css')
        link(rel='stylesheet' href='/css/footer.css')
        link(rel='stylesheet' href='/css/responsive.css')

        link(rel='icon' type='image/x-icon' href='/img/favicon.ico')

        // External script for Font Awesome icons
        script(src='https://kit.fontawesome.com/8d7ee81bf2.js' crossorigin='anonymous')

    body(id='page-top')
        // Header section of the webpage
        block header

        // Main content section of the webpage
        block content

        // Footer section of the webpage
        block footer