.container.position-relative
    // Contact Header Section
    .row.mb-5
        .col-md-8.col-xl-6.text-center.mx-auto
            h2 Contact Me
            p.w-lg-50
                | Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.

    // Contact Information and Social Media Links
    .row.d-flex.justify-content-center
        .col-md-8.col-lg-6.col-xl-5
            ul.list-inline
                // Facebook Contact Info
                li.list-inline-item
                    a.btn.text-center.btn-dark(role='button' href='#')
                        i.fa.fa-facebook.fa-fw
                        | +358 45 179 3460

                // Google Plus Icon (Note: Google Plus has been shut down, consider replacing with another platform)
                li.list-inline-item
                    a.btn.text-center.btn-dark(role='button' href='#')
                        i.fa.fa-google-plus.fa-fw

                // Twitter Icon
                li.list-inline-item
                    a.btn.text-center.btn-dark(role='button' href='#')
                        i.fa.fa-twitter.fa-fw

                // Dribbble Icons (Multiple Dribbble icons, consider replacing with different platforms)
                li.list-inline-item
                    a.btn.text-center.btn-dark(role='button' href='#')
                        i.fa.fa-dribbble.fa-fw
                li.list-inline-item
                    a.btn.text-center.btn-dark(role='button' href='#')
                        i.fa.fa-dribbble.fa-fw
                li.list-inline-item
                    a.btn.text-center.btn-dark(role='button' href='#')
                        i.fa.fa-dribbble.fa-fw
