//*
    Mikko Rautavirta
    IT-Opiskelija

    Sijainti: Lahti, Suomi
    Puh: +358 45 179 3460
    Email: mikkorau@yahoo.com
    LinkedIn: https://www.linkedin.com/in/mikkorautavirta/
    Profiili
    Olen datanomiksi valmistunut ja tällä hetkellä AMK jatko-opintoja suorittava IT-osaaja. Erityisosaamistani on ohjelmointi ja verkkosivujen tuottaminen. Vuodesta 2014 lähtien olen kehittänyt osaamistani vapaa-ajan projektien, opintojen ja niihin kuuluvien harjoittelujaksojen kautta.

    Ura-tavoitteet
    Pyrkimyksenäni on laajentaa osaamistani ja päästä kehittämään nykyaikaisia palveluita ja järjestelmiä. Kykenen sopeutumaan uusiin teknologioihin ja tavoitteenani on olla arvokas lisä työtiimissä.

    Koulutus
    Tietojenkäsittelyn tradenomi
    Laurea-ammattikorkeakoulu, 2023-nyt
    Painopiste digitaalisessa palvelukehityksessä ja teknologiasovelluksissa.
    Tieto- ja Viestintätekniikan perustutkinto
    Keski-Uudenmaan Ammattiopisto Keuda, 2016-2019
    Kattava tausta ohjelmoinnissa, tietokannoissa ja verkostoissa.
    Taidot
    Tekniset:

    Ohjelmointikielet: Java, Python, HTML, CSS, JavaScript
    Työkalut: Adobe Photoshop, Premiere Pro, Illustrator
    Projektinhallinta: Agile, Scrum, SQL ja noSQL hallinta
    Pehmeät:

    Viestintä & Tiimityö
    Luova Ongelmanratkaisu
    Sopeutumiskyky & Nopea Oppiminen
    Projektinhallinta & Järjestely
    Työkokemus
    Varastotyöntekijä, SANDVIK, Lahti, 2022
    Viestintä- ja Mediakonstaapeli, Maasotakoulu, Hamina, 2019-2020
    Ohjelmistokehitysharjoittelija, ECabs, Malta, 2018
    IT-Harjoittelija, SuperApp Oy, Lahti, 2017
    Harjoittelija, Expert ASA Oy, Hollola, 2015
    Saavutukset
    Finalisti, Taitaja2019 Verkkosivutuotannon Kilpailu
    Kiinnostuksen Kohteet
    Tekoäly & Koneoppiminen: Jatkuvasti seuraan alan kehitystä.
    Valokuvaus: Luonnonkauneuden ikuistaminen ja kuvankäsittely.
    Musiikintuotanto: Äänisuunnittelu ja musiikin luominen FL-Studiolla.
    Kielitaito
    Suomi: Äidinkieli
    Englanti: Erittäin sujuva
    */
doctype html
head
    link(rel='stylesheet' href='/css/cv.css')
body
    div
        h1 Mikko Rautavirta
        p IT-opiskelija | Vastavalmistunut
        p &middot; Sijainti: Lahti, Suomi
        p &middot; Puhelin: +358 45 179 3460
        p &middot; S&auml;hk&ouml;posti: mikkorau@yahoo.com
        p
            | &middot; LinkedIn:
            a(href='LinkedIn-profiilin linkki') LinkedIn-profiili
    .section-title Yhteenveto
    .section-content
        p
            | Olen Mikko Rautavirta, IT-alan ammattilainen, joka tuntee syvää kiinnostusta teknologiaan ja innovaatioihin. Aloin tutustua teknologian maailmaan vuonna 2014, ja siitä lähtien olen käynyt läpi monia oppimisen ja kasvun vaiheita. Olen hankkinut arvokasta kokemusta erilaisten harjoittelujaksojen ja käytännön projektien kautta, ja olen tehnyt tiivistä yhteistyötä kokeneiden ammattilaisten kanssa.
            br
            hr
            | Osaaminen kattaa useita ohjelmointikieliä, mukaan lukien Java, Python, HTML, CSS ja JavaScript. Lisäksi minulla on laaja ymmärrys tietokantojen hallinnasta ja verkkokehityksestä. Olen vahvasti sitoutunut kyberturvallisuuden edistämiseen ja sen merkityksen ymmärtämiseen.
            br
            hr
            | Mikä erottaa minut, on tinkimätön haluni hyödyntää teknisiä taitojani innovaatioiden luomiseen ja ongelmien ratkaisemiseen. Uskon vahvasti, että teknologia voi tuoda merkittävää lisäarvoa ja muutoksia yhteiskuntaan, ja olen motivoitunut olemaan osa tätä kehitystä. Työskentelen päättäväisesti sen eteen, että voin tuoda arvoa tiimilleni ja organisaatiolleni.
    .section-title Ura-tavoite
    .section-content
        p
            | Vastavalmistuneena IT-alan ammattilaisena minulla on suuri kiinnostus tutkia erilaisia IT-tehtäviä ja hyödyntää tietotaitoani sekä teknistä osaamistani. Tavoitteenani on jatkaa taitojeni kehittämistä, hankkia arvokasta käytännön kokemusta ja vaikuttaa positiivisesti organisaatioiden menestykseen tulevaisuudessa. Uskon, että dynaamisuuteni ja kykyni sopeutua nopeasti uusiin teknologioihin tekevät minusta arvokkaan lisän mihin tahansa tiimiin.
    .section-title Koulutus
    .section-content
        p Kandidaatin tutkinto-ohjelma liiketoimintatiedossa
        p &middot; Laurea-ammattikorkeakoulu | Elokuu 2023 - Nykyhetki
        p
            | &middot; T&auml;ll&auml; hetkell&auml; opiskelen AMK-tutkinto-ohjelmassa, joka keskittyy digitaalisen palvelukehityksen, miss&auml; yhdist&auml;n taitavasti teoreettista tiet&auml;myst&auml; k&auml;yt&auml;nn&ouml;n liiketoimintaan ja teknologiasovelluksiin, valmiina vastaamaan IT-alan jatkuvasti kehittyviin vaatimuksiin.
        p Ammatillinen p&auml;tevyys liiketoimintatiedossa
        p &middot; Keski-Uudenmaan Ammattiopisto Keuda | Elokuu 2016 - Toukokuu 2019
        p
            | &middot; T&auml;m&auml;n koulutusvaiheen aikana opin paljon monipuolista taitoja. T&auml;h&auml;n sis&auml;ltyi perustavanlaatuisia IT-taitoja ja kattava koulutus ohjelmoinnissa, tietokannoissa, verkostoissa jne.
    .section-title Taidot
    .section-content
        p Tekniset taidot:
        p
            | &middot; Taitava monilla ohjelmointikielill&auml;, mukaan lukien Java, Python, HTML, CSS ja JavaScript.
        p
            | &middot; Osaan käyttää standardoituja ty&ouml;kaluja, kuten Adobe Photoshop, Adobe Premiere Pro ja Adobe Illustrator.
        p &middot; Kokemusta projektinhallintamenetelmist&auml;, mukaan lukien Agile ja Scrum.
        p &middot; Osaamista tietokannanhallinnassa, k&auml;sitt&auml;en SQL ja noSQL.
        p Muut taidot:
        p
            | &middot; Erinomainen viestint&auml; &amp; yhteisty&ouml;: Olen hionut tehokkaat viestint&auml;- ja tiimity&ouml;taidot harjoittelujaksojen ja ryhm&auml;projektien kautta.
        p
            | &middot; Innovatiivinen ongelmanratkaisu: Minulla on kyky l&ouml;yt&auml;&auml; luovia ratkaisuja monimutkaisiin haasteisiin.
        p
            | &middot; Sopeutumiskyky &amp; nopea oppiminen: Osoitettu sopeutumiskyky uusiin ymp&auml;rist&ouml;ihin ja nopea oppimisk&auml;yr&auml; uusille teknologioille.
        p
            | &middot; Projektinhallinta &amp; j&auml;rjest&auml;ytyminen: Olen tehokkaasti j&auml;rjest&auml;nyt ja hallinnoinut projekteja, t&auml;ytt&auml;en johdonmukaisesti m&auml;&auml;r&auml;ajat ja tavoitteet.
    .section-title Ty&ouml;kokemus
    .section-content
        p Varastoty&ouml;ntekij&auml; | SANDVIK, Lahti | Kes&auml;kuu 2022 - Syyskuu 2022
        p
            | &middot; Suoritin tarkkaa tilausten k&auml;sittely&auml; ja pakkausta, noudattaen huolellisesti asiakasvaatimuksia ja aikatauluja.
        p
            | Viestint&auml;- ja mediavarusmies | Maasotakoulu, Hamina | Hein&auml;kuu 2019 - Maaliskuu 2020
        p
            | &middot; Edistin maasotakoulun ja reserviupseerikoulun mediasisällön sis&auml;ll&ouml;n luomista ja hallintaa. Loin monipuolista sisältöä ja hallinnoin varuskunnan somea.
        p
            | Ohjelmistokehitysharjoittelija | ECabs Company Ltd, St. Julians, Malta | Elokuu 2018 - Lokakuu 2018
        p
            | &middot; Osallistuin aktiivisesti web- ja mobiilisovellusten kehitykseen ja testaukseen, edist&auml;en k&auml;ytt&ouml;liittym&auml;n, toiminnallisuuden ja kokonaisvaltaisten k&auml;ytt&auml;j&auml;kokemusten parantamista. Olin syv&auml;sti mukana tiimiss&auml; ja yrityksen p&auml;&auml;tuotteen kehitysprosessissa, k&auml;ytt&auml;en projektinhallintaty&ouml;kaluja ja -kehyksi&auml;.
        p IT-harjoittelija | SuperApp Oy, Lahti, Suomi | Toukokuu 2017 - Hein&auml;kuu 2017
        p
            | &middot; Johdin prototyyppien kehityst&auml;, sis&auml;ll&ouml;ntuotantoa ja tuotteiden beta-testausta asiakkaille, k&auml;ytt&auml;en moderneja ty&ouml;kaluja ja alan standardeja tarjotakseen ammattimaisia mobiili- ja verkkosovelluksia yrityksille.
        p Harjoittelija | Expert ASA Oy, Hollola, Suomi | Toukokuu 2015 - Hein&auml;kuu 2015
        p
            | &middot; Tarjosin asiakastukea ja asennuspalveluita samalla avustaen varastotoiminnoissa.
    .section-title Palkinnot
    .section-content
        p
            | &middot; Finalisti (6. sija), Taitaja2019 kansallinen verkkosivutuotannon SM-kilpailu.
    .section-title Kiinnostuksen kohteet
    .section-content
        p
            | Teko&auml;ly: Tutkin jatkuvasti teko&auml;lyyn liittyvi&auml; projekteja ja pysyn ajan tasalla alalla tapahtuvista viimeisimmist&auml; kehityksist&auml;.
        p
            | Valokuvaus: Valokuvauksen lisäksi minulta sujuu Adobe-ohjelmistojen hallinta valokuvien muokkaamiseen ja graafiseen suunnittelua.
        p
            | Musiikintuotanto: Opettelen musiikkituotantoa k&auml;ytt&auml;en ohjelmistoja kuten FL-Studio.
    .section-title Kielitaito
    .section-content
        p &middot; Suomi: &Auml;idinkieli.
        p &middot; Englanti: T&auml;ydellinen ammatillinen p&auml;tevyys.
