extends layout.pug

block header
    include header.pug

block content
    main
        // Header Section with Personal Details
        header.masthead.text-center.text-white.bg-primary
            .container.d-flex.align-items-center.flex-column
                h1.mb-0 Mikko Rautavirta
                .mb-5
                    h2.font-weight-light.mb-0= shortDescription
                    h3.font-weight-light.mb0= welcomeMessage
        if languageMessage
            .alert.alert-info.alert-dismissible.fade.show.d-flex.align-items-center.flex-column
                p= languageMessage
                button.btn.btn-primary(type='button', onclick="refreshPage()") OK

        // About Section
        section#about
            include about.pug

        // Skills Section
        section#skills
            include skills.pug

        // Projects Section
        section#projects
            include projects.pug

        // Contact Section
        section#contact
            include contact.pug

block footer
    include footer.pug
