doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title Home - Mikko Rautavirta
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='icon' type='image/x-icon' href='/img/favicon.ico')
    link(rel='stylesheet' href='/css/styles.min.css')
body#page-top
    nav#mainNav.navbar.navbar-expand-lg.fixed-top.bg-secondary.text-uppercase.navbar-light
        .container
            a.navbar-brand(href='#page-top') Mikko Rautavirta
            button.navbar-toggler.text-white.bg-primary.navbar-toggler-right.text-uppercase.rounded(data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
                i.fa.fa-bars
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav.ms-auto
                    li.nav-item.mx-0.mx-lg-1
                        a.nav-link.py-3.px-0.px-lg-3.rounded(href='#portfolio') projects
                    li.nav-item.mx-0.mx-lg-1
                        a.nav-link.py-3.px-0.px-lg-3.rounded(href='#about') About
                    li.nav-item.mx-0.mx-lg-1
                        a.nav-link.py-3.px-0.px-lg-3.rounded(href='#contact') Contact
    header.text-center.text-white.bg-primary.masthead
        .container
            img.img-fluid.d-block.mx-auto.mb-5(src='/img/profilepic.jpg')
            h1.mb-0 Mikko Rautavirta
            hr.star-light
            h2.font-weight-light.mb-0 Web Developer - Graphic Artist - User Experience Designer
    section#portfolio-1.portfolio
        h2.text-uppercase.text-center.text-secondary developing skills
        .container.py-4.py-xl-5
            .row.gy-4.row-cols-2.row-cols-md-4
                .col
                    .text-center.d-flex.flex-column.justify-content-center.align-items-center.py-3
                        .bs-icon-xl.bs-icon-circle.bs-icon-primary.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.mb-2.bs-icon.lg
                            svg.bi.bi-bell(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewbox='0 0 16 16')
                                path(d='M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z')
                        .px-3
                            h2.fw-bold.mb-0 123+
                            p.mb-0 Erat netus
                    .text-center.d-flex.flex-column.justify-content-center.align-items-center.py-3
                        .bs-icon-xl.bs-icon-circle.bs-icon-primary.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.mb-2.bs-icon.lg
                            svg.bi.bi-bell(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewbox='0 0 16 16')
                                path(d='M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z')
                        .px-3
                            h2.fw-bold.mb-0 123+
                            p.mb-0 Erat netus
                    .text-center.d-flex.flex-column.justify-content-center.align-items-center.py-3
                        .bs-icon-xl.bs-icon-circle.bs-icon-primary.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.mb-2.bs-icon.lg
                            svg.bi.bi-bell(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewbox='0 0 16 16')
                                path(d='M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z')
                        .px-3
                            h2.fw-bold.mb-0 123+
                            p.mb-0 Erat netus
                .col
                    .text-center.d-flex.flex-column.justify-content-center.align-items-center.py-3
                        .bs-icon-xl.bs-icon-circle.bs-icon-primary.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.mb-2.bs-icon.lg
                            svg.bi.bi-bezier(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewbox='0 0 16 16')
                                path(fill-rule='evenodd' d='M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z')
                                path(d='M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z')
                        .px-3
                            h2.fw-bold.mb-0 45+
                            p.mb-0 Erat netus
                    .text-center.d-flex.flex-column.justify-content-center.align-items-center.py-3
                        .bs-icon-xl.bs-icon-circle.bs-icon-primary.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.mb-2.bs-icon.lg
                            svg.bi.bi-bezier(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewbox='0 0 16 16')
                                path(fill-rule='evenodd' d='M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z')
                                path(d='M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z')
                        .px-3
                            h2.fw-bold.mb-0 45+
                            p.mb-0 Erat netus
                    .text-center.d-flex.flex-column.justify-content-center.align-items-center.py-3
                        .bs-icon-xl.bs-icon-circle.bs-icon-primary.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.mb-2.bs-icon.lg
                            svg.bi.bi-bezier(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewbox='0 0 16 16')
                                path(fill-rule='evenodd' d='M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z')
                                path(d='M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z')
                        .px-3
                            h2.fw-bold.mb-0 45+
                            p.mb-0 Erat netus
                .col
                    .text-center.d-flex.flex-column.justify-content-center.align-items-center.py-3
                        .bs-icon-xl.bs-icon-circle.bs-icon-primary.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.mb-2.bs-icon.lg
                            svg.bi.bi-cup(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewbox='0 0 16 16')
                                path(fill-rule='evenodd' d='M.11 3.187A.5.5 0 0 1 .5 3h13a.5.5 0 0 1 .488.608l-.22.991a3.001 3.001 0 0 1-1.3 5.854l-.132.59A2.5 2.5 0 0 1 9.896 13H4.104a2.5 2.5 0 0 1-2.44-1.958L.012 3.608a.5.5 0 0 1 .098-.42Zm12.574 6.288a2 2 0 0 0 .866-3.899l-.866 3.9ZM1.124 4l1.516 6.825A1.5 1.5 0 0 0 4.104 12h5.792a1.5 1.5 0 0 0 1.464-1.175L12.877 4H1.123Z')
                        .px-3
                            h2.fw-bold.mb-0 67+
                            p.mb-0 Erat netus
                    .text-center.d-flex.flex-column.justify-content-center.align-items-center.py-3
                        .bs-icon-xl.bs-icon-circle.bs-icon-primary.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.mb-2.bs-icon.lg
                            svg.bi.bi-cup(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewbox='0 0 16 16')
                                path(fill-rule='evenodd' d='M.11 3.187A.5.5 0 0 1 .5 3h13a.5.5 0 0 1 .488.608l-.22.991a3.001 3.001 0 0 1-1.3 5.854l-.132.59A2.5 2.5 0 0 1 9.896 13H4.104a2.5 2.5 0 0 1-2.44-1.958L.012 3.608a.5.5 0 0 1 .098-.42Zm12.574 6.288a2 2 0 0 0 .866-3.899l-.866 3.9ZM1.124 4l1.516 6.825A1.5 1.5 0 0 0 4.104 12h5.792a1.5 1.5 0 0 0 1.464-1.175L12.877 4H1.123Z')
                        .px-3
                            h2.fw-bold.mb-0 67+
                            p.mb-0 Erat netus
                    .text-center.d-flex.flex-column.justify-content-center.align-items-center.py-3
                        .bs-icon-xl.bs-icon-circle.bs-icon-primary.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.mb-2.bs-icon.lg
                            svg.bi.bi-cup(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewbox='0 0 16 16')
                                path(fill-rule='evenodd' d='M.11 3.187A.5.5 0 0 1 .5 3h13a.5.5 0 0 1 .488.608l-.22.991a3.001 3.001 0 0 1-1.3 5.854l-.132.59A2.5 2.5 0 0 1 9.896 13H4.104a2.5 2.5 0 0 1-2.44-1.958L.012 3.608a.5.5 0 0 1 .098-.42Zm12.574 6.288a2 2 0 0 0 .866-3.899l-.866 3.9ZM1.124 4l1.516 6.825A1.5 1.5 0 0 0 4.104 12h5.792a1.5 1.5 0 0 0 1.464-1.175L12.877 4H1.123Z')
                        .px-3
                            h2.fw-bold.mb-0 67+
                            p.mb-0 Erat netus
                .col
                    .text-center.d-flex.flex-column.justify-content-center.align-items-center.py-3
                        .bs-icon-xl.bs-icon-circle.bs-icon-primary.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.mb-2.bs-icon.lg
                            svg.bi.bi-cart2(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewbox='0 0 16 16')
                                path(d='M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z')
                        .px-3
                            h2.fw-bold.mb-0 89
                            p.mb-0 Erat netus
                    .text-center.d-flex.flex-column.justify-content-center.align-items-center.py-3
                        .bs-icon-xl.bs-icon-circle.bs-icon-primary.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.mb-2.bs-icon.lg
                            svg.bi.bi-cart2(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewbox='0 0 16 16')
                                path(d='M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z')
                        .px-3
                            h2.fw-bold.mb-0 89
                            p.mb-0 Erat netus
                    .text-center.d-flex.flex-column.justify-content-center.align-items-center.py-3
                        .bs-icon-xl.bs-icon-circle.bs-icon-primary.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.mb-2.bs-icon.lg
                            svg.bi.bi-cart2(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewbox='0 0 16 16')
                                path(d='M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z')
                        .px-3
                            h2.fw-bold.mb-0 89
                            p.mb-0 Erat netus
    section#portfolio.portfolio
        .container
            h2.text-uppercase.text-center.text-secondary public projects
            hr.star-dark.mb-5
            .row
                .col-md-6.col-lg-4
                    a.d-block.mx-auto.portfolio-item(href='#portfolio-modal-1' data-bs-toggle='modal')
                        .d-flex.portfolio-item-caption.position-absolute.h-100.w-100
                            .text-center.text-white.my-auto.portfolio-item-caption-content.w-100
                                i.fa.fa-search-plus.fa-3x
                        img.img-fluid(src='/img/portfolio/cabin.png?h=5bde47039f23de84a7748bee08793ac3')
                .col-md-6.col-lg-4
                    a.d-block.mx-auto.portfolio-item(href='#portfolio-modal-2' data-bs-toggle='modal')
                        .d-flex.portfolio-item-caption.position-absolute.h-100.w-100
                            .text-center.text-white.my-auto.portfolio-item-caption-content.w-100
                                i.fa.fa-search-plus.fa-3x
                        img.img-fluid(src='/img/portfolio/cake.png?h=4b5723e2b00006ef3a25df097c7187dd')
                .col-md-6.col-lg-4
                    a.d-block.mx-auto.portfolio-item(href='#portfolio-modal-3' data-bs-toggle='modal')
                        .d-flex.portfolio-item-caption.position-absolute.h-100.w-100
                            .text-center.text-white.my-auto.portfolio-item-caption-content.w-100
                                i.fa.fa-search-plus.fa-3x
                        img.img-fluid(src='/img/portfolio/circus.png?h=984b4ff719255fcbf2e01164905ebb90')
                .col-md-6.col-lg-4
                    a.d-block.mx-auto.portfolio-item(href='#portfolio-modal-4' data-bs-toggle='modal')
                        .d-flex.portfolio-item-caption.position-absolute.h-100.w-100
                            .text-center.text-white.my-auto.portfolio-item-caption-content.w-100
                                i.fa.fa-search-plus.fa-3x
                        img.img-fluid(src='/img/portfolio/game.png?h=b5df08ec517f8b9872be52e015333d8a')
                .col-md-6.col-lg-4
                    a.d-block.mx-auto.portfolio-item(href='#portfolio-modal-5' data-bs-toggle='modal')
                        .d-flex.portfolio-item-caption.position-absolute.h-100.w-100
                            .text-center.text-white.my-auto.portfolio-item-caption-content.w-100
                                i.fa.fa-search-plus.fa-3x
                        img.img-fluid(src='/img/portfolio/safe.png?h=77cbc82936acf11b03bd687ff795e835')
                .col-md-6.col-lg-4
                    a.d-block.mx-auto.portfolio-item(href='#portfolio-modal-6' data-bs-toggle='modal')
                        .d-flex.portfolio-item-caption.position-absolute.h-100.w-100
                            .text-center.text-white.my-auto.portfolio-item-caption-content.w-100
                                i.fa.fa-search-plus.fa-3x
                        img.img-fluid(src='/img/portfolio/submarine.png?h=71572e367539ee27f418326f2361bce2')
    section#about.text-white.bg-primary.mb-0
        .container
            h2.text-uppercase.text-center.text-white About
            hr.star-light.mb-5
            .row
                .col-lg-4.ms-auto
                    p.lead
                        | Freelancer is a free bootstrap theme. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.
                .col-lg-4.me-auto
                    p.lead
                        | Whether you&apos;re a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!
            .text-center.mt-4
                a.btn.btn-outline-light.btn-xl(role='button' href='#')
                    i.fa.fa-download.me-2
                    span View Resume
    section#contact
        section
            .container.text-white.bg-primary.border.rounded.border-0.p-4.p-lg-5.py-4.py-xl-5
                .row.mb-5
                    .col-md-8.col-xl-6.text-center.mx-auto
                        h2.text-white Skills
                        p.w-lg-50
                            | Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.
                .row.gy-4.row-cols-1.row-cols-md-2.row-cols-xl-3
                    .col
                        .d-flex
                            .bs-icon-sm.bs-icon-rounded.bs-icon-semi-white.text-primary.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.mb-3.bs-icon
                                svg.bi.bi-bell(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewbox='0 0 16 16')
                                    path(d='M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z')
                            .px-3
                                h4.text-white Title
                                p
                                    | Erat netus est hendrerit, nullam et quis ad cras porttitor iaculis. Bibendum vulputate cras aenean.
                    .col
                        .d-flex
                            .bs-icon-sm.bs-icon-rounded.bs-icon-semi-white.text-primary.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.mb-3.bs-icon
                                svg.bi.bi-bell(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewbox='0 0 16 16')
                                    path(d='M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z')
                            .px-3
                                h4.text-white Title
                                p
                                    | Erat netus est hendrerit, nullam et quis ad cras porttitor iaculis. Bibendum vulputate cras aenean.
                    .col
                        .d-flex
                            .bs-icon-sm.bs-icon-rounded.bs-icon-semi-white.text-primary.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.mb-3.bs-icon
                                svg.bi.bi-bell(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewbox='0 0 16 16')
                                    path(d='M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z')
                            .px-3
                                h4.text-white Title
                                p
                                    | Erat netus est hendrerit, nullam et quis ad cras porttitor iaculis. Bibendum vulputate cras aenean.
                    .col
                        .d-flex
                            .bs-icon-sm.bs-icon-rounded.bs-icon-semi-white.text-primary.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.mb-3.bs-icon
                                svg.bi.bi-bell(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewbox='0 0 16 16')
                                    path(d='M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z')
                            .px-3
                                h4.text-white Title
                                p
                                    | Erat netus est hendrerit, nullam et quis ad cras porttitor iaculis. Bibendum vulputate cras aenean.
                    .col
                        .d-flex
                            .bs-icon-sm.bs-icon-rounded.bs-icon-semi-white.text-primary.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.mb-3.bs-icon
                                svg.bi.bi-bezier(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewbox='0 0 16 16')
                                    path(fill-rule='evenodd' d='M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z')
                                    path(d='M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z')
                            .px-3
                                h4.text-white Title
                                p
                                    | Erat netus est hendrerit, nullam et quis ad cras porttitor iaculis. Bibendum vulputate cras aenean.
                    .col
                        .d-flex
                            .bs-icon-sm.bs-icon-rounded.bs-icon-semi-white.text-primary.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.mb-3.bs-icon
                                svg.bi.bi-flag(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewbox='0 0 16 16')
                                    path(d='M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z')
                            .px-3
                                h4.text-white Title
                                p
                                    | Erat netus est hendrerit, nullam et quis ad cras porttitor iaculis. Bibendum vulputate cras aenean.
        .container
            h2.text-uppercase.text-center.text-secondary.mb-0 Contact Me
            hr.star-dark.mb-5
            section.position-relative.py-4.py-xl-5
                .container.position-relative
                    .row.mb-5
                        .col-md-8.col-xl-6.text-center.mx-auto
                            h2 Contact me
                            p.w-lg-50
                                | Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.
                    .row.d-flex.justify-content-center
                        .col-md-6.col-lg-4.col-xl-4
                            .d-flex.flex-column.justify-content-center.align-items-start.h-100
                                .d-flex.align-items-center.p-3
                                    .bs-icon-md.bs-icon-rounded.bs-icon-primary.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.bs-icon
                                        svg.bi.bi-telephone(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewbox='0 0 16 16')
                                            path(d='M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z')
                                    .px-2
                                        h6.mb-0 Phone
                                        p.mb-0 +123456789
                                .d-flex.align-items-center.p-3
                                    .bs-icon-md.bs-icon-rounded.bs-icon-primary.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.bs-icon
                                        svg.bi.bi-envelope(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewbox='0 0 16 16')
                                            path(d='M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z')
                                    .px-2
                                        h6.mb-0 Email
                                        p.mb-0 info@example.com
                                .d-flex.align-items-center.p-3
                                    .bs-icon-md.bs-icon-rounded.bs-icon-primary.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.bs-icon
                                        svg.bi.bi-pin(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewbox='0 0 16 16')
                                            path(d='M4.146.146A.5.5 0 0 1 4.5 0h7a.5.5 0 0 1 .5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 0 1-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 0 1-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 0 1 5 6.708V2.277a2.77 2.77 0 0 1-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 0 1 .146-.354zm1.58 1.408-.002-.001.002.001zm-.002-.001.002.001A.5.5 0 0 1 6 2v5a.5.5 0 0 1-.276.447h-.002l-.012.007-.054.03a4.922 4.922 0 0 0-.827.58c-.318.278-.585.596-.725.936h7.792c-.14-.34-.407-.658-.725-.936a4.915 4.915 0 0 0-.881-.61l-.012-.006h-.002A.5.5 0 0 1 10 7V2a.5.5 0 0 1 .295-.458 1.775 1.775 0 0 0 .351-.271c.08-.08.155-.17.214-.271H5.14c.06.1.133.191.214.271a1.78 1.78 0 0 0 .37.282z')
                                    .px-2
                                        h6.mb-0 Location
                                        p.mb-0 12 Example Street
                        .col-md-6.col-lg-5.col-xl-4
                            div
                                form.p-3.p-xl-4(method='post')
                                    .mb-3
                                        input#name-1.form-control(type='text' name='name' placeholder='Name')
                                    .mb-3
                                        input#email-1.form-control(type='email' name='email' placeholder='Email')
                                    .mb-3
                                        textarea#message-1.form-control(name='message' rows='6' placeholder='Message')
                                    div
                                        button.btn.btn-primary.d-block.w-100(type='submit') Send
    footer.text-center.footer
        footer.text-center
        .container
            .row
                .col-md-4.col-xl-12.mb-5.mb-lg-0
                    h4.text-uppercase socials
                    ul.list-inline
                        li.list-inline-item
                            a.btn.btn-outline-light.text-center.btn-social.rounded-circle(role='button' href='#')
                                i.fa.fa-facebook.fa-fw
                        li.list-inline-item
                            a.btn.btn-outline-light.text-center.btn-social.rounded-circle(role='button' href='#')
                                i.fa.fa-google-plus.fa-fw
                        li.list-inline-item
                            a.btn.btn-outline-light.text-center.btn-social.rounded-circle(role='button' href='#')
                                i.fa.fa-twitter.fa-fw
                        li.list-inline-item
                            a.btn.btn-outline-light.text-center.btn-social.rounded-circle(role='button' href='#')
                                i.fa.fa-dribbble.fa-fw
    .text-center.text-white.copyright.py-4
        .container
            small Copyright &copy;&nbsp;Mikko Rautavirta 2023
    .d-lg-none.scroll-to-top.position-fixed.rounded
        a.text-center.d-block.rounded.text-white(href='#page-top')
            i.fa.fa-chevron-up
    #portfolio-modal-1.modal.text-center(role='dialog' tabindex='-1')
        .modal-dialog.modal-lg(role='document')
            .modal-content
                .modal-header
                    button.btn-close(type='button' aria-label='Close' data-bs-dismiss='modal')
                .modal-body
                    .container.text-center
                        .row
                            .col-lg-8.mx-auto
                                h2.text-uppercase.text-secondary.mb-0 Project Name
                                hr.star-dark.mb-5
                                img.img-fluid.mb-5(src='/img/portfolio/cabin.png?h=5bde47039f23de84a7748bee08793ac3')
                                p.mb-5
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                .modal-footer.pb-5
                    a.btn.btn-primary.btn-lg.mx-auto.rounded-pill.portfolio-modal-dismiss(role='button' data-bs-dismiss='modal')
                        i.fa.fa-close
                        | &nbsp;Close Project
    #portfolio-modal-2.modal.text-center(role='dialog' tabindex='-1')
        .modal-dialog.modal-lg(role='document')
            .modal-content
                .modal-header
                    button.btn-close(type='button' aria-label='Close' data-bs-dismiss='modal')
                .modal-body
                    .container.text-center
                        .row
                            .col-lg-8.mx-auto
                                h2.text-uppercase.text-secondary.mb-0 Project Name
                                hr.star-dark.mb-5
                                img.img-fluid.mb-5(src='/img/portfolio/cake.png?h=4b5723e2b00006ef3a25df097c7187dd')
                                p.mb-5
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                .modal-footer.pb-5
                    a.btn.btn-primary.btn-lg.mx-auto.rounded-pill.portfolio-modal-dismiss(role='button' data-bs-dismiss='modal')
                        i.fa.fa-close
                        | &nbsp;Close Project
    #portfolio-modal-3.modal.text-center(role='dialog' tabindex='-1')
        .modal-dialog.modal-lg(role='document')
            .modal-content
                .modal-header
                    button.btn-close(type='button' aria-label='Close' data-bs-dismiss='modal')
                .modal-body
                    .container.text-center
                        .row
                            .col-lg-8.mx-auto
                                h2.text-uppercase.text-secondary.mb-0 Project Name
                                hr.star-dark.mb-5
                                img.img-fluid.mb-5(src='/img/portfolio/circus.png?h=984b4ff719255fcbf2e01164905ebb90')
                                p.mb-5
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                .modal-footer.pb-5
                    a.btn.btn-primary.btn-lg.mx-auto.rounded-pill.portfolio-modal-dismiss(role='button' data-bs-dismiss='modal')
                        i.fa.fa-close
                        | &nbsp;Close Project
    #portfolio-modal-4.modal.text-center(role='dialog' tabindex='-1')
        .modal-dialog.modal-lg(role='document')
            .modal-content
                .modal-header
                    button.btn-close(type='button' aria-label='Close' data-bs-dismiss='modal')
                .modal-body
                    .container.text-center
                        .row
                            .col-lg-8.mx-auto
                                h2.text-uppercase.text-secondary.mb-0 Project Name
                                hr.star-dark.mb-5
                                img.img-fluid.mb-5(src='/img/portfolio/game.png?h=b5df08ec517f8b9872be52e015333d8a')
                                p.mb-5
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                .modal-footer.pb-5
                    a.btn.btn-primary.btn-lg.mx-auto.rounded-pill.portfolio-modal-dismiss(role='button' data-bs-dismiss='modal')
                        i.fa.fa-close
                        | &nbsp;Close Project
    #portfolio-modal-5.modal.text-center(role='dialog' tabindex='-1')
        .modal-dialog.modal-lg(role='document')
            .modal-content
                .modal-header
                    button.btn-close(type='button' aria-label='Close' data-bs-dismiss='modal')
                .modal-body
                    .container.text-center
                        .row
                            .col-lg-8.mx-auto
                                h2.text-uppercase.text-secondary.mb-0 Project Name
                                hr.star-dark.mb-5
                                img.img-fluid.mb-5(src='/img/portfolio/safe.png?h=77cbc82936acf11b03bd687ff795e835')
                                p.mb-5
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                .modal-footer.pb-5
                    a.btn.btn-primary.btn-lg.mx-auto.rounded-pill.portfolio-modal-dismiss(role='button' data-bs-dismiss='modal')
                        i.fa.fa-close
                        | &nbsp;Close Project
    #portfolio-modal-6.modal.text-center(role='dialog' tabindex='-1')
        .modal-dialog.modal-lg(role='document')
            .modal-content
                .modal-header
                    button.btn-close(type='button' aria-label='Close' data-bs-dismiss='modal')
                .modal-body
                    .container.text-center
                        .row
                            .col-lg-8.mx-auto
                                h2.text-uppercase.text-secondary.mb-0 Project Name
                                hr.star-dark.mb-5
                                img.img-fluid.mb-5(src='/img/portfolio/submarine.png?h=71572e367539ee27f418326f2361bce2')
                                p.mb-5
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                .modal-footer.pb-5
                    a.btn.btn-primary.btn-lg.mx-auto.rounded-pill.portfolio-modal-dismiss(role='button' data-bs-dismiss='modal')
                        i.fa.fa-close
                        | &nbsp;Close Project
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js')
script(src='/js/script.min.js')

