doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
        title Mikko Rautavirta

        // Stylesheets and Favicon
        link(rel='stylesheet' href='/bootstrap/css/bootstrap.min.css')
        link(rel='icon' type='image/x-icon' href='/img/favicon.ico')
        link(rel='stylesheet' href='/css/styles.min.css')

        // Font Awesome Script
        script(src='https://kit.fontawesome.com/8d7ee81bf2.js' crossorigin='anonymous')

    body(id='page-top')
        block header
            // This block can be overridden in files that extend this layout

        block content
            // This block can be overridden in files that extend this layout

        block footer
            // This block can be overridden in files that extend this layout
