extends layout.pug

block header
    include header.pug

block content
    main
        h1.text-center.text-danger.mt-5.mb-5 404 Not Found
        h2.text-center.text-danger.mt-5.mb-5 The page you are looking for does not exist.
        button.btn-link.text-center.mt-5.mb-5(onclick='window.history.back()') Go back

block footer
    include footer.pug
