extends ../layouts/layout

block header
    include ../partials/header

block content
    main
        h1.text-center.text-danger.mt-5.mb-5 404
        h2.text-center.text-danger.mt-5.mb-5 The page you are looking for does not exist. Sivua ei löydy.
        button.btn-link.text-center.mt-5.mb-5(onclick='window.history.back()') Go back to previous page. Palaa edelliselle sivulle.

block footer
    include ../partials/footer
